name: Terraform CI
on:
  pull_request:
    paths:
      - 'envs/**'
      - 'modules/**'
      - '.github/**'
jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
      - name: Terraform fmt
        run: terraform fmt -check
      - name: Terraform Init
        working-directory: envs/dev
        run: terraform init -input=false
      - name: Terraform Validate
        working-directory: envs/dev
        run: terraform validate
      - name: Terraform Plan
        working-directory: envs/dev
        run: terraform plan -no-color